<footer>
  <!-- Footer main -->
  <section class="ft-main">
    <div class="ft-main-item">
      <h2 class="ft-title">About</h2>
      <ul>
        <li>
          <a
            mat-button
            color="primary"
            routerLink="/services"
            routerLinkActive="mat-accent"
            >Services</a
          >
        </li>
        <li>
          <a mat-button color="primary" href="https://github.com/ManeaVlad"
            >Portfolio</a
          >
        </li>
        <li>
          <a
            mat-button
            color="primary"
            routerLink="/services"
            routerLinkActive="mat-accent"
            >Pricing</a
          >
        </li>
        <li>
          <a mat-button color="primary" href="http://www.electronica.pub.ro/"
            >Customers</a
          >
        </li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Resources</h2>
      <ul>
        <li><a mat-button color="primary" href="https://en.wikipedia.org/wiki/Agile_software_development">Docs</a></li>
        <li><a mat-button color="primary" href="https://en.wikipedia.org/wiki/Agile_software_development">Agile</a></li>
        <li><a mat-button color="primary" href="https://en.wikipedia.org/wiki/Scrum_(software_development)">Scrum</a></li>
        <li><a mat-button color="primary" href="https://en.wikipedia.org/wiki/Kanban">Kanban</a></li>
      </ul>
    </div>
    <div class="ft-main-item">
      <h2 class="ft-title">Contact</h2>
      <ul>
        <li class="ft-main-contact">maneavlad1997@gmail.com</li>
        <li class="ft-main-contact">(+021) 0742 2511 11</li>
      </ul>
    </div>
    <ul class="ft-social-list">
      <li>
        <a href="#"><i class="fa fa-facebook"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-instagram"></i></a>
      </li>
      <li>
        <a href="https://github.com/ManeaVlad"><i class="fa fa-github"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </li>
    </ul>
  </section>
  <!-- Footer legal -->
  <section class="ft-legal">
    <ul class="ft-legal-list">
      <li>
        <a href="https://www.termsandcondiitionssample.com/"
          >Terms &amp; Conditions</a
        >
      </li>
      <li><a href="#">Privacy Policy</a></li>
      <li>&copy; 2020 Copyright Manea Vlad - NO-JIRA</li>
    </ul>
  </section>
</footer>
