@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
main {
  width: 80%;
  margin: 1rem auto;
  min-height: 70%;
}
body {
  display: flex;
  flex-direction: column;
}
.container {
  flex: 1;    /* same as flex-grow: 1; */
}

app-footer {
  width: 100%;
}
