mat-form-field {
  width: 100%;
}

mat-card {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 10;
  top: 20%;
  max-width: 400px;
}

mat-spinner {
  margin: auto;
}

.form-container {
  display: block;
  align-items: center;
}

.btn-normal {
  border-color: rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  display: block;
  width: 100%;
}

.center-text {
  text-align: center;
}

.logo-image img {
  width: auto;
  height: auto;
  max-height: 200px;
  max-width: 150px;
  padding: 0;
  filter: brightness(1.2);
}

.logo-image img:hover {
  filter: brightness(1.4);
}

.font-size {
  padding-top: 5px;
  font-size: 14px;
}
