.dashcard {
  margin: 10px 5px;
  height: 100px;
  background-color: white;
}
.mat-icon {
  font-size: 40px;
  height: 40px;
  width: 40px;
  color:white;
}
.border-top {
  border-top: 1px solid white;
}
.mat-headline {
  margin: 0px;
  color: white;
}
.mat-body-1 {
  margin: 0px;
  color: white;
}

.nav-item {
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: default;

  &:hover {
    transform: translate(0, -8px);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.16);
  }
}
