mat-form-field {
  width: 100%;
  display: block;
  margin-top: 12px;;
}

mat-spinner {
  margin: auto;
}

.form-container {
  display: block;
  align-items: center;
}

.btn-cancel {
  border-color: rgba(0, 0, 0, 0.2);
  margin-right: 13px;
  width: 100%;
}

.center-text {
  text-align: center;
}

.font-size {
  padding-top: 5px;
  font-size: 14px;
}
