<div fxLayout="column">
  <div class="service-header" fxLayout="column" fxLayoutAlign="center stretch">
    <div
      fxFlex
      fxLayout.lt-sm="column"
      style="padding: 20px;"
      fxLayout="row"
      fxLayoutAlign="center stretch"
    >
      <div
        fxFlex.lt-sm="100"
        fxLayout="row"
        style="background-image: linear-gradient( #fafafa, #fff,  #fafafa ); padding: 20px;"
        fxLayoutAlign="center stretch"
      >
        <div>
          <h3 class="mat-display-1">Product Presentation</h3>
          <mat-divider></mat-divider>
          <br />
          <p class="mat-body-2">
            NO-JIRA Software is designed for every member of your software team
            to plan and track the process of building an amazing product.
            Upgrade your workflow with NO-JIRA. Using NO-JIRA you will have
            access to a lot of Tools that will facilitate your Agile experience.
          </p>
          <img
            src="http://localhost:3000/images/HORIZONTAL-LOGO-NO-JIRA.png"
            alt="Horizontal Logo"
          />
        </div>
      </div>
    </div>
  </div>

  <div fxLayout="column" class="service-card-content">
    <div
      fxLayout="row"
      class="service-card-container"
      fxLayout.lt-md="column"
      fxLayoutGap="20px"
    >
      <div
        fxFlex.lt-md="100"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="20px"
        fxFlex.gt-sm="32"
        class="mat-elevation-z4 service-card "
      >
        <img src="http://localhost:3000/images/webdesign.png" fxFlex />

        <h3 class="mat-title" fxFlex>Design</h3>
        <p class="mat-body-2" fxFlex>
          Design your product using NO-JIRA!
        </p>
      </div>

      <div
        fxFlex.lt-md="100"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="20px"
        fxFlex.gt-sm="32"
        class="mat-elevation-z4 service-card "
      >
        <img src="http://localhost:3000/images/mobile.png" fxFlex />

        <h3 class="mat-title" fxFlex>Mobile</h3>
        <p class="mat-body-2" fxFlex>
          Mobile friendly software, for a better user experience!
        </p>
      </div>

      <div
        fxFlex.lt-md="100"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="20px"
        fxFlex.gt-sm="32"
        class="mat-elevation-z4 service-card "
      >
        <img src="http://localhost:3000/images/custom.png" fxFlex />

        <h3 class="mat-title" fxFlex>Customise</h3>
        <p class="mat-body-2" fxFlex>
          Customise your team Agile experience.
        </p>
      </div>
    </div>

    <div
      fxLayout="row"
      class="service-card-container"
      fxLayout.lt-md="column"
      fxLayoutGap="20px"
    >
      <div
        fxFlex.lt-md="100"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="20px"
        fxFlex.gt-sm="32"
        class="mat-elevation-z4 service-card "
      >
        <img src="http://localhost:3000/images/strategy.png" fxFlex />

        <h3 class="mat-title" fxFlex>Plan</h3>
        <p class="mat-body-2" fxFlex>
          Create user tasks, plan sperints and distribute tasks across your
          team.
        </p>
      </div>

      <div
        fxFlex.lt-md="100"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="20px"
        fxFlex.gt-sm="32"
        class="mat-elevation-z4 service-card "
      >
        <img src="http://localhost:3000/images/ecommerce.png" fxFlex />

        <h3 class="mat-title" fxFlex>Market research</h3>
        <p class="mat-body-2" fxFlex>
          Gather infomation about target markets or customers to improve your
          business strategy.
        </p>
      </div>

      <div
        fxFlex.lt-md="100"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="20px"
        fxFlex.gt-sm="32"
        class="mat-elevation-z4 service-card "
      >
        <img src="http://localhost:3000/images/prototype.png" fxFlex />

        <h3 class="mat-title" fxFlex>Mockups</h3>
        <p class="mat-body-2" fxFlex>
          Create mockups to have a clear path in what your team is about to
          develop.
        </p>
      </div>
    </div>
  </div>
</div>
