ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menuButton {
  text-decoration: none;
  color: #ffffff;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

.sidenav-container {
  height: 100%;
}

.hidden {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

.menuButton img {
  width: auto;
  height: auto;
  max-height: 200px;
  max-width: 150px;
  padding-top: 15px;
  filter: brightness(1.2);
  margin: 0;
}

.menuButton img:hover {
  filter: brightness(1.4);
}

.sidenav-img {
  width: auto;
  height: auto;
  max-height: 150px;
  max-width: 100px;
  padding: 0;
  margin-left: 40px;
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  filter: brightness(1.2);
}

img:hover {
  filter: brightness(1.4);
}
